*{
    margin: 0px;
    padding: 0px;
}

.imagen-banner{
    height: 49vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    object-fit: cover;
}

.card{
    position: relative;
}

.badge-flotante{
    position: absolute;
    right: -75px;
    top: -16px;
    padding: 10px 30px!important;
}