*{
    margin: 0px;
    padding: 0px;
}

.imagen-banner{
    height: 49vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    object-fit: cover;
}

.card{
    position: relative;
}

.card .card-img-top{
    height: 200px!important;
    width: 318px!important;
}

.card .card-body{
    height: 260px!important;
}

.badge-flotante{
    position: absolute;
    right: -48px;
    top: -20px;
    padding: 10px 30px!important;
    z-index: 100;
}

.img-listado{
    width: 275px!important;
    height: 183px!important;
}